<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{admin/header :: header}"></div>
<body>
<div th:replace="~{admin/header :: navbar}"></div>
<br><br>
<div class="container">
  <div class="row col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center">Create Post</h2>
      </div>
      <div class="card-body">
        <form role="form" method="post" th:action="@{/admin/posts}" th:object="${post}">
          <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Enter post title" name="title" th:field="*{title}">
            <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
          </div>
          <div class="mb-3">
            <label class="form-label">Short Description</label>
            <textarea class="form-control" id="shortDescription" placeholder="Enter post content" rows="3" name="shortDescription" th:field="*{shortDescription}"></textarea>
            <p th:if="${#fields.hasErrors('shortDescription')}" class="text-danger" th:errors="*{shortDescription}"></p>
          </div>
          <div class="mb-3">
            <label class="form-label">Content</label>
            <textarea class="form-control" id="content" placeholder="Enter post short description" rows="12" name="content" th:field="*{content}"></textarea>
            <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br>
<div th:replace="~{admin/footer :: footer}"></div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/classic/ckeditor.js"></script>
<script>
  ClassicEditor
          .create( document.querySelector( '#content' ) )
          .then( editor => {
            console.log( editor );
          } )
          .catch( error => {
            console.error( error );
          } );
</script>
</body>
</html>