<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footer-copyright text-center bg-primary py-3" style="position: fixed; height: 80px; width: 100%;
        bottom: 0; color: white" th:fragment="footer">
  <div>
<!--    <strong>-->
<!--      Copyright &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwidq8OJlOKEAxXw9zgGHSioBroQPAgJ">Abhay Banerjee</a>-->
<!--      All rights reserved.-->
<!--    </strong>-->
  </div>
</footer>
</body>
</html>